@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --foreground: #E6E6E6;

    --card: #141414;

    --popover: #0D0D0D;
    --popover-foreground: #E6E6E6;

    --primary: #FF007A;
    --primary-foreground: #FFFFFF;

    --secondary: #32CD32;
    --secondary-foreground: #000000;

    --muted: #262626;
    --muted-foreground: #999999;

    --accent: #29A329;
    --accent-foreground: #FFFFFF;

    --destructive: #F54141;
    --destructive-foreground: #FFFFFF;

    --border: #333333;
    --input: #1F1F1F;
    --ring: #32CD32;

    --radius: 0.3rem;

    --chart-1: #FF007A;
    --chart-2: #32CD32;
    --chart-3: #0080FF;
    --chart-4: #FFFF00;
    --chart-5: #333333;

    --sidebar-background: #0D0D0D;
    --sidebar-foreground: #CCCCCC;
    --sidebar-primary: #FF007A;
    --sidebar-primary-foreground: #FFFFFF;
    --sidebar-accent: #32CD32;
    --sidebar-accent-foreground: #000000;
    --sidebar-border: #262626;
    --sidebar-ring: #33CC33;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom cyberpunk scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
::-webkit-scrollbar-corner {
  background: var(--background);
}
