// Diatype
@import '../fonts/fonts.css';

// Solana variables
@import '_solana-variables';

// Bootstrap core
@import 'bootstrap/scss/bootstrap';

// Solana core & page-specific styles
@import '_solana';
@import 'solana/blog';
@import 'solana/community';
@import 'solana/validators';
@import 'solana/modals';

// Solana-lib
@import '@solana-foundation/solana-lib/dist/styles.css';
